@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Seafood.Models.Mailing>

<h2>Join Our Mailing List!</h2>
<hr />


@if (Model.Any())
{
    @if (User.Identity.IsAuthenticated)
    {
        @foreach (var listPost in Model)
        {
            <h4>@Html.DisplayFor(modelPost => listPost.Email)</h4>

        }
    }
}

<p>@Html.ActionLink("Create new", "Create")</p>



