@model IEnumerable<Seafood.Models.Mailing>

<h2>Here is the newsletter mailing list</h2>
<hr />

@if (Model.Any())
{
    @foreach (var listMailing in Model)
    {
        <h4>@Html.DisplayFor(modelMailing => listMailing.Email)</h4>
    }
}
else
{
    <p>No emails have been added yet!</p>
}

@Html.ActionLink("Create new", "Create")
