@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Seafood.Models.Post>
<div class="dock">
    <h2 class="title">Son of Cod Seafood</h2>
</div>
    @if (Model.Any())
    {
        @foreach (var listPost in Model)
        {
            <h2>@Html.DisplayFor(modelPost => listPost.Description)</h2>
            <div class="postImg">
            <img src="@Html.DisplayFor(modelProduct => listPost.ImagePath)" />
            </div>
            @if (User.Identity.IsAuthenticated)
            {
       
                    <p>@Html.ActionLink("Edit", "Edit", new { id = listPost.Id })</p>
                
            }
        }
    }
  

    @if (User.Identity.IsAuthenticated)
    {
        <p>@Html.ActionLink("Create new", "Create")</p>
     
}

