@model IEnumerable<Seafood.Models.Post>

<h2>Here is your list of posts in the newsletter, @User.Identity.Name</h2>
<hr />

@if (Model.Any())
{
        @foreach (var listPost in Model)
        {
            <h4>@Html.DisplayFor(modelPost => listPost.Description)</h4>
            <img src="@Html.DisplayFor(modelProduct => listPost.ImagePath)" />
        }
}
else
{
    <p>No posts have been added yet!</p>
}

@Html.ActionLink("Create new", "Create")
